.button {
    background-color: cadetblue;
    height: 25px;
    width: 200px

}
.repeat {
    width:200px

}
.username {
    width:100px

}
.showPassword {
    background-color:green;

}
body {
    background-color: darkcyan;


}

.barsAndButtons {
    border-radius:1000px


}
