@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
#answer{
    border: 2px solid blue;
    border-radius: 10px;
    width:30%;
    margin-right:0px;
    float:right;

}
#answer>img{
    border: 2px solid blue;
    border-radius: 10px;

    margin-top:0px;
    margin-left:30px;
}
#answer>h1{
    font-family: 'Ubuntu', sans-serif;

    font-weight:normal;
}
#answer>p{
    font-family: 'Montserrat', sans-serif;

    font-weight:normal;
    margin-left: 2px;
}
.hiding{
    display:none;
}
