.btnQ {
background-image:linear-gradient(rebeccapurple,cornflowerblue);
 height:50px;
    width:85px;
    border-radius:12px;
    border:none
}
body {
background-image:linear-gradient(dodgerblue,magenta);
height:1000px;
    width:1000px


}


.btnQ2 {
    margin:10px;
height:50px;
border-radius: 12px;
    width:85px;
    background-image:linear-gradient(cornflowerblue,rebeccapurple) ;
    border:none


}
